/* freecodecamp - Pomodoro Clock -->

/************************************

 *   Front-end News! Stylesheet

 *  white           : #fff;
 *  green           : #B3D156;
 *  grey            : #333;


*************************************

/*------------------------------------
 *  Base
------------------------------------*/
body {
    background-color: #333;
    font-family: 'Lato', sans-serif;
    color: #fff;
}

input:focus,
button:focus {
    outline: none;
}

/*------------------------------------
 *  logo
------------------------------------*/
.logo {
    text-align: center;
    font-family: 'Playball', cursive;
    font-size: 75px;
    font-weight: bold;
    padding-top: 20px;
}


/*------------------------------------
 *  container
------------------------------------*/
.container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    padding: 0;
    max-width: 800px;
    position: relative;
}

/*------------------------------------
 *  setting
------------------------------------*/
button.break,
button.session {
    background: none;
    border: none;
    color: #fff;
}
.setting {
    display: inline-block;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*------------------------------------
 *  canvas
------------------------------------*/
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: ;
    position: absolute;

}

.type.overlay {
  position: absolute;
  top: 320px;
  left: 76px;
  font-size: 50px;
}

.countdown.overlay {
  position: absolute;
  top: 480px;
  left: 99px;
  font-size: 39px;
}






/*------------------------------------
 *  circle
------------------------------------*/
.clock {
    font-size: 46px;

}
.col {
   width: 100%;
   padding:;
   background-color: #333;
   margin-bottom: 5%;
}
.circle {
    position: ;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    border: 3px solid #B3D156;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    box-sizing: border-box;
    text-align: center;
    display: block;
    padding: 0px;
    background-color: #333;

 }
.type {
    padding-bottom: 39px;
}






