/* freecodecamp - Pomodoro Clock -->

/************************************

 *   Front-end News! Stylesheet

 *  white           : #fff;
 *  green           : #B3D156;
 *  grey            : #333;




/*------------------------------------
 *  Base
------------------------------------*/
body {
    background-color: #333;
    font-family: 'Lato', sans-serif;
    color: #fff;
}

input:focus,
button:focus {
    outline: none;
}

/*------------------------------------
 *  logo
------------------------------------*/
.logo {
    font-family: 'Playball', cursive;
    font-size: 75px;
    font-weight: bold;
    padding-top: 20px;
}


/*------------------------------------
 *  container
------------------------------------*/

.container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    padding: 0;
    width: 400px;
    position: relative;
}
/*------------------------------------
 *  setting
------------------------------------*/
button.break,
button.session {
    background: none;
    border: none;
    color: #fff;
}
.setting {
    display: inline-block;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.subset {
    position: relative;
    float: left;
    margin-left: 50px;
}
.change {
    margin-left: 30px;
}

/*------------------------------------
 *  canvas
------------------------------------*/
canvas {
    padding-left: 0;
    padding-right: 0;
    display: block;
    width: 300px;
    position: absolute;
    left: 50px;

}

.type.overlay {
  position: absolute;
  top: 245px;
  left: 120px;
  font-size: 50px;
}

.countdown.overlay {
  position: absolute;
  top: 400px;
  left: 150px;
  font-size: 39px;
}








