/* freecodecamp - Pomodoro Clock -->

/************************************

 *   Front-end News! Stylesheet

 *  white           : #fff;
 *  header background: #405482

 *  Indigo        : #3f51b5
 *  Indigo (dark) : #303f9f
 *  Light blue    : #c5cae9
 *  White         : #fff
 *  Pink          : #ff4081
 *  Gray (dark)   : #212121
 *  Gray (medium) : #727272
 *  Gray (light)  : #b6b6b6
*************************************

/*------------------------------------
 *  Base
------------------------------------*/
body {
    background-color: #333;
    font-family: 'Lato', sans-serif;
    color: #fff;
}

input:focus,
button:focus {
    outline: ;
}

/*------------------------------------
 *  logo
------------------------------------*/
.logo {
    text-align: center;
    font-family: 'Playball', cursive;
    font-size: 75px;
    font-weight: bold;
    padding-top: 20px;
}


/*------------------------------------
 *  container
------------------------------------*/
.container div {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
    position: relative;
}

/*------------------------------------
 *  block
------------------------------------*/
.block {
    display: inline;
    padding-right: 18px;
    border: 1px solid red;
}
.setting {
    display: inline-block;
    margin: 0 auto;
}
/*------------------------------------
 *  setting
------------------------------------*/
button.break,
button.session {
    background: none;
    border: none;
    color: #fff;
}


/*------------------------------------
 *  clock
------------------------------------*/
.clock {
    font-size: 46px;

}

.timer {
    visibility: hidden;
}
.countdown {

}
button.countdown {
    background: none;
    border: none;
    color: #fff;
    width: 130px;

}

/*------------------------------------
 *  circle
------------------------------------*/

.col {
   width: 100%;
   padding:;
   background-color: #333;
   margin-bottom: 5%;
}
.circle {
    position: ;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    border: 3px solid #B3D156;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    box-sizing: border-box;
    text-align: center;
    display: ;
    padding: 0px;
    background-color: ;
    opacity: 1;
 }
.type {
    padding-bottom: ;
}
.cposition {
    position: ;

}

/*------------------------------------
 *  box to test color gradient change
------------------------------------*/
.box {
    width: 200px;
    height: 100px;
    border: 3px solid #B3D156;
    background-size: 100% 200%;
    padding-bottom: 50px;
    background-image: linear-gradient(to bottom, #333 50%, red 50% );
    transition: background-position 10s linear;
    background-position: ;
}
.box-animation {
    background-position: 2% 20%;

}

.box2 {
    width: 200px;
    height: 100px;
    border: 3px solid #B3D156;
    background-size: 100% 200%;
    padding-bottom: 50px;
    background: repeating-linear-gradient(#333, #333 90%, red 10%, red 100%);
    transition: background-position 10s linear;

}

.box2-animation {
    background-position: 2% 100%;

}

#demo {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 300px;
}




